html,
body {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    @extend .bg-light, .py-3;

    & .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: map-get($grid-breakpoints, sm)) {
            display: block;
            text-align: center;
        }
    }

}