
$primary: #C32C72;
$secondary: #8D8D8D;
$light: #F4F3EE;
$dark: #262626;

$navbar-light-color: $secondary;
$navbar-light-active-color: $primary;
$navbar-light-brand-color: $dark;

$link-color: $secondary;

$card-bg: $light; 
$card-border-color: $light; 
$card-border-width: 3px;
$card-border-radius: 15px;
$card-height: 264px;

$body-color: #463F3A;
$body-bg: #E5E5E5;

$font-family-sans-serif: "Open Sens", sans-serif;
$font-family-monospace: "Archivo Narrow", monospace;